@font-face{
  font-family: "Valeria";
 src: url("./Valeria\ -\ Medium.ttf")
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Valeria";
    text-align: center;
}

/* h3{
  text-decoration: underline;
} */

.card{
    margin: auto;
    padding: 3em;
    background-color: rgb(255, 255, 255);
    max-width: 30em;
    min-width: 15em;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: bold;
    line-height: 2em;
    box-shadow: 5px 5px 15px 5px grey;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  .shop-link a {
    text-decoration: none;
    color:rgb(47, 0, 128);
    font-style: bold;
  }
  
